h1,h2,h3,h4{ color:darkgreen;}
li{ color:darkgreen;font-size: 15px;}
h1 {font-size: 30px;}
h2,h3,h4 {font-size: 20px;}

a{ color:darkblue
    
}


body{
    
    background:lightgreen;
    color:black
    
}
