h1,h2,h3,h4{ color:darkgreen;}
li{ color:darkgreen;font-size: 15px;}
h1 {font-size: 30px;}
h2,h3,h4 {font-size: 20px;}
a{ color:darkblue
    
}

#button {
   padding: 0;
   }

   #button li {
      display: inline;
      }

      #button li a {
         font-family: Arial;
         font-size: 20px;
         text-decoration: none;
         float: left;
         padding: 10px;
         background-color:darkgreen;
         color: #fff;
         }

         #button li a:hover {
            background-color: #2586d7;
            margin-top: -2;
            padding-bottom: 12px;]
            }
   
            #contenedor{
               width:960px;
               margin:auto;
           }

         #centro
            {text-align:center;}
        
